@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}
<div style="width:contain; height:contain;background-color:forestgreen; display:flex;
flex-direction:row; justify-content:center;align-items:center; gap:24px;">
    <h1 style="margin:50px;">Admin page</h1>
    <a asp-route-area="Admin" asp-controller="Dashboard" asp-action="Index">Go to Admin Dashboard</a>

</div>

