<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindFreeLancer</title>
    <link href="@Url.Content("~/css/site.css?v=@DateTime.Now.Ticks")" rel="stylesheet" />


  
</head>
<body>
    <div class="header">
        <p style="color:white;">Welcome to our find  your freelancer site</p>
        <a asp-action="Add" asp-controller="User">Register</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <h2>FindFreeLancer</h2>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <p>Follow us:</p>
                <ul>
                    <li><a href="https://www.linkedin.com/in/mirtalib-emirli-a66922287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">LinkedIn</a></li>
                    <li>
                        <a target="_blank" href="https://github.com/MirtalibEmirli">
                            Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 FindFreeLancer. All rights reserved.</p>
            <p>By <a href="https://www.linkedin.com/in/mirtalib-emirli-a66922287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">Mirtalib Amirli</a></p>
        </div>
    </div>

</body>
</html>
